// Variables

$white: #fff !default;
$gray-100: #9b8d71 !default;
$gray-200: #020a13 !default;
$gray-300: #4b77a3 !default;
$gray-400: #518bc5 !default;
$gray-500: #adb5bd !default;
$gray-600: #aeb12b !default;
$gray-700: #0e0111 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black: rgb(146, 93, 93) !default;

$primary: rgb(4, 27, 23) !default;
$secondary: rgb(22, 37, 56) !default;
